@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
  }
 
  .dark {
    --background: 0 0% 15%;
    --foreground: 210 40% 98%;
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .bg-background {
    @apply bg-white dark:bg-zinc-800
  }
}

body {
  background: hsl(var(--background));
}